/* General Design --------------------------------- */
* {
    margin: 0px;
    padding: 0px;
}

p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

/* Variables -------------------------------------- */


/* Fonts ------------------------------------------

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

*/

/* Components --------------------------------------*/

.dFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h100 {
    min-height: 100vh;
    min-height: 100dvh;
}

/* Homepage Design -------------------------------- */

/* Header ----------------------------- */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(55, 103, 103, 0.1);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);

    position: fixed;
    z-index: 10;
}

#menuBar {
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bar {
    padding: 12px 15px;
    background-color: rgb(235, 191, 55, 1);
    border-radius: 20px;

    font-size: 16px;
}


/*
#popup {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.1 s;
}
*/

/* Section 1 ----------------------------- */


#section1 {
    display: flex;
    justify-content: start;

    background-image: url(assets/img/nouilles2ps.jpg);
    background-position: center;
    background-size: cover;
}

#logo {
    width: 400px;
    height: 300px;

    position: fixed;
    transform: translate(340px, 50px);
    z-index: 9;

}

#divL {
    background-color: rgb(167, 97, 97);
    width: 60%;


}


#block {
    width: 100px;
    height: 100px;

    background-color: green;
    transition: transform 0.3s ease;

}

#block:hover {
    transform: scale(1.2);
}


#divR {
    display: none;
    width: 40%;
}

#s1_img {
    min-height: 100vh;


    width: 100%;

}

#arrows {
    transform: translateX(250px);
    scale: 0.7;
    opacity: 0;
}

/* Section 2 ----------------------------- */

#section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204, 170, 117);
}

/* BlockTexts ------------------------ */

#blockText1,
#blockText3 {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 350px;
    background-color: rgba(127, 255, 212, 0);

    transform: translateX(200px);

    animation: Apparition 10s linear 1;
    transition: 1.5s ease;
}

#blockText4,
#blockText6 {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 350px;
    background-color: rgba(127, 255, 212, 0);

    transform: translateX(-200px);

    animation: Apparition 10s linear 1;
    transition: 1s ease;
}

#blockText2,
#blockText5 {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 350px;
    background-color: rgba(127, 255, 212, 0);

    animation: Apparition 10s linear 1;
    transition: 1.5s ease;
}

#s2h2 {
    font-size: 40px;

    transform: translateY(100px);
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.pin {
    width: 40px;
    height: 40px;

    padding-top: 10px;
}

/*.regionTitle {}*/

.text {
    font-size: 16px;
}

#s2divL {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 30%;
    background-color: rgb(204, 170, 117);
}

#s2divM {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 30%;
    background-color: rgb(204, 170, 117);
}

#s2divR {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 30%;
    background-color: rgb(204, 170, 117);
}


#china {
    width: 650px;
    height: 650px;

    filter: drop-shadow(15px 30px 6px rgba(0, 0, 0, 0.4));
}


/* Section 3 ----------------------------- */

#section3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-image: url(assets/img/section3.png);
    background-position: center center;
    background-size: cover;
    background-color: rgb(181, 58, 58);
}

/* Section 3 - s3title */

#s3title {
    padding-top: 80px;
}

#s3h2 {
    font-size: 40px;
}

#s3logo {
    width: 200px;
}

/* Section 3 - s3divBowls */

#s3divBowls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding-top: 50px;
}

#s3divR,
#s3divL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#s3divBowlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 1;
}

.s3textContainerL {
    width: 200px;
    height: 200px;


    overflow: hidden;

    transform: translateX(-190px);

    align-items: flex-start;
    flex-direction: column;
}

.s3textContainerR {
    width: 200px;
    height: 200px;

    overflow: hidden;

    transform: translateX(190px);

    align-items: flex-end;
    flex-direction: column;
}

.plate {
    width: 200px;


}

#plate1 {
    width: 200px;

    /*animation: AnimationBols 1s linear 1;
    transition: 1s ease;*/
}


.s3text {
    /*padding-right: 400px;*/
}

/* Section 4 ----------------------------- */

#section4 {
    background-color: rgb(225, 208, 174);
}

#depositZone {
    width: 300px;
    height: 300px;

    border: 4px dotted black;
}

#depositZone--validate {
    width: 300px;
    height: 300px;

    background-color: #307213;
}


/* Section 5 ----------------------------- */

#section5 {
    background-color: rgb(112, 71, 71);
}


#drag {
    width: 200px;
    height: 200px;
    background-color: blue;
}

/* Responsive ------------------------------------- */

/* Media Queries ----------------- */

@media (max-width: 799px) {}

/* Animations ------------------------------------- */

@keyframes Apparition {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes AnimationBols {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(-500px);
    }
}