/* General Design --------------------------------- */
* {
    margin: 0px;
    padding: 0px;

    font-family: "Raleway", sans-serif;

    cursor: url(assets/icon/chopsticks.png), default;
}

html {
    scroll-behavior: smooth;
    /* Repris du premier code en B1 */
}

p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

/* Variables -------------------------------------- */


/* Fonts ------------------------------------------ */

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Components --------------------------------------*/

.dFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h100 {
    min-height: 100vh;
    min-height: 100dvh;
}

/* Homepage Design -------------------------------- */

/* Header ----------------------------- */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(55, 103, 103, 0.1);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);

    position: fixed;
    z-index: 10;
}

header label,
header #switch {
    display: none;
}

#menuBar {
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul li {
    list-style: none;
    margin-right: 25px;
}

.menuItem {
    display: inline-block;
    /* Va me permettre au lien <a> qui est un élément inline, de recevoir un scale par exemple*/
    text-decoration: none;
    padding: 12px 25px;
    color: black;
    background-color: rgb(235, 191, 55, 1);
    border-radius: 20px;

    font-size: 16px;

    transition: 0.25s;
}

.menuItem:hover {
    transform: scale(1.1);
}

/*
#popup {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.1 s;
}
*/

/* Section 1 ----------------------------- */


#section1 {
    display: flex;
    justify-content: start;

    background-image: url(assets/img/nouilles2ps.jpg);
    background-position: center;
    background-size: cover;
}

#logo {
    width: 400px;
    height: 300px;

    position: fixed;
    transform: translate(340px, 50px);
    z-index: 9;

}

#divL {
    height: 100vh;
    background-image: url(assets/img/s1_bg.png);
    background-position: center;
    background-size: contain;

    width: 60%;
}

#s1text {
    padding-left: 100px;
}

#divR {
    display: none;
    width: 40%;
}

#s1_img {
    min-height: 100vh;


    width: 100%;

}

#arrows {
    transform: translateX(250px);
    scale: 0.7;
    opacity: 0;
}

/* Section 2 ----------------------------- */

#section2 {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url(assets/img/s2_bg.png);
    background-position: center;
    background-size: cover;

    box-shadow: 0px 0px 50px rgba(42, 42, 42, 0.5);
}

/* Section 2 - Divs */

#s2divL {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 30%;
}

#s2divM {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 30%;
}

#s2divR {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 30%;
}


#china {
    width: 650px;
    height: 650px;

    filter: drop-shadow(15px 30px 6px rgba(0, 0, 0, 0.4));
}

/* Section 2 - BlockTexts */

#blockText1,
#blockText3 {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 350px;
    background-color: rgba(127, 255, 212, 0);

    transform: translateX(200px);

    animation: Apparition 10s linear 1;
    transition: 1.5s ease;
}

#blockText4,
#blockText6 {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 350px;
    background-color: rgba(127, 255, 212, 0);

    transform: translateX(-200px);

    animation: Apparition 10s linear 1;
    transition: 1s ease;
}

#blockText2,
#blockText5 {
    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 350px;
    background-color: rgba(127, 255, 212, 0);

    animation: Apparition 10s linear 1;
    transition: 1.5s ease;
}

/* Section 2 - Texts */

#s2h2 {
    font-size: 40px;

    transform: translateY(100px);
}

.title {
    display: flex;
    justify-content: start;
    align-items: center;
}

.pin {
    width: 40px;
    height: 40px;

    padding-top: 10px;
}

.text {
    font-size: 16px;
}


/* Section 3 ----------------------------- */

#section3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-image: url(assets/img/section3.png);
    background-position: center center;
    background-size: cover;
    background-color: rgb(181, 58, 58);
}

/* Section 3 - s3title & Text */

#s3title {
    padding-top: 80px;
}

#s3h2 {
    font-size: 40px;
}

#s3logo {
    width: 200px;
}

.s3text {
    display: flex;
    align-items: flex-end;

    font-size: 16px;
}


/* Section 3 - s3divBowls */

#s3divBowls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    padding-top: 50px;
}

#s3divR,
#s3divL {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#s3divBowlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 1;
}

.s3textContainerL {
    width: 400px;
    height: 200px;

    overflow: hidden;

    transform: translateX(-50px);

    align-items: flex-start;
    flex-direction: column;
}

.s3textContainerR {
    width: 400px;
    height: 200px;

    overflow: hidden;

    transform: translateX(50px);

    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    /* Pour aligner le texte à la fin */
}

.plate {
    width: 200px;
}

#plate1 {
    width: 200px;
}

/* Section 4 ----------------------------- */

#section4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background-image: url(assets/img/s4_bg.png);
    background-position: center;
    background-size: cover;
    background-color: rgb(225, 208, 174);
}

/* Section 4 - s4title */

#s4title {
    padding-top: 80px;
}

#s4h2 {
    font-size: 40px;
}

#s4logo {
    width: 200px;
}

/* Section 4 - planDeTravail */

#planDeTravail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    width: 100vw;
}

#pdt_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#plancha1,
#plancha2 {
    flex-direction: column;

    border-radius: 50px;
    background-color: rgb(235, 191, 55, 1);

    width: 200px;
    height: 700px;

    z-index: 2;
}

/* Section 4 - Images */

#emptyBowl {
    width: 200px;
}

#fullBowl {
    width: 200px;
    opacity: 0;
}

.s4_pdt_img {
    width: 150px;

    filter: drop-shadow(0px 20px 30px rgb(94, 93, 93, 0.5));
}

/* Section 5 ----------------------------- */

#section5 {
    background-color: rgb(112, 71, 71);
}

/* Animations ------------------------------------- */

@keyframes Apparition {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

/* Mobile Design --------------------------------------------------- */

@media (max-width:800px) {

    /* Mobile Header ----------------------------------------------- */

    header {
        display: block;
    }

    header label {
        display: block;
        /* block â‰  none */
        font-size: 30px;

        color: rgb(235, 191, 55, 1)
    }

    header nav {
        display: none;
        clear: both;
    }

    #switch:checked+nav {
        display: block;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
        border-top: solid 1px black;
        transform: translateY(120px);
    }

    header nav ul li {
        text-align: center;
        width: 100%;
        border-bottom: solid 1px black;

    }

    #section1 {
        background-image: none;
        background-color: rgb(205, 103, 102);
    }

    #divL {
        background-image: none;
    }

    #s1text {
        padding-left: 60px;
    }

    #section2 {}

    #s2divM {}

    #china {
        width: 100%;
        height: 100%;
    }


}